<div [routerLink]="['/', 'single-nft', nft.id]" [ngClass]="[small ? 'container-inner-small' : 'container-inner-big']">
  <div class="spinner">
    <mat-spinner
      mode="determinate"
      [value]="100 - endedPercent"
      [diameter]="small ? 59 : 81"
      strokeWidth="3"
    ></mat-spinner>
  </div>
  <div [ngClass]="[small ? 'nftname-small' : 'nftname-big']">
    <span>{{ nft?.name }}</span>
  </div>
  <div
    (click)="openNft()"
    [ngClass]="
      [nft?.owner ? 'owned' : nft?.ownerAddress ? 'ownedByOther' : 'available', small ? 'circle-small' : 'circle-big']
    "
  >
    <div class="svg-icon" [innerHTML]="nft.image"></div>
  </div>
  <div [ngClass]="[small ? 'label-wrapper-small' : 'label-wrapper-big']">
    <mat-chip disableRipple color="primary" selected>
      {{
        bidsViewModel?.highestBid
          ? (bidsViewModel?.highestBid | weiToOne: 4)
          : (nft?.price | weiToOne: 4)
      }}
      ONE</mat-chip
    >
  </div>
</div>
