<div [routerLink]="['/', 'single-nft', nft.id]" class="container-inner">
  <div class="spinner">
    <mat-spinner
      mode="determinate"
      [value]="100 - endedPercent"
      diameter="81"
      strokeWidth="3"
    ></mat-spinner>
  </div>
  <div class="nftname">
    <span>{{ nft?.name }}</span>
  </div>
  <div
    (click)="openNft()"
    [ngClass]="
      nft?.owner ? 'owned' : nft?.ownerAddress ? 'ownedByOther' : 'available'
    "
    class="circle"
  >
    <div class="svg-icon" [innerHTML]="nft?.image"></div>
  </div>
  <div class="label-wrapper">
    <mat-chip disableRipple color="primary" selected>
      {{
        bidsViewModel?.highestBid
          ? (bidsViewModel?.highestBid | weiToOne: 4)
          : (nft?.price | weiToOne: 4)
      }}
      ONE</mat-chip
    >
  </div>
</div>
