.container-inner-small {
  display: flex;
  flex-direction: column;
  width: 82px;
  align-items: center;
  place-content: center;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}
.container-inner-big {
  display: flex;
  flex-direction: column;
  width: 96px;
  align-items: center;
  place-content: center;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}
.circle-big {
  width: 67px;
  height: 67px;
  margin-bottom: 4px;
  position: absolute;
  top: 35px;
  left: 15px;
}
.circle-small {
  width: 45px;
  height: 45px;
  margin-bottom: 4px;
  position: absolute;
  top: 35px;
  left: 15px;
}
.label-wrapper-big {
  position: absolute;
  top: 115px;
}
.label-wrapper-small {
  position: absolute;
  top: 90px;
  left: 10px;
}
.spinner {
  position: absolute;

  top: 28px;
  left: 8px;
}
.nft-name {
  position: absolute;
  top: 0;
  height: 20px;
  font-size: 12px;

  span {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
  }
}
.nftname-small {
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 4px;

  line-height: 26px;
}
.nftname-big {
  width: 96px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 4px;
  place-content: center;
  align-items: center;
  display: flex;
}
