<div
  [routerLink]="['/', 'single-nft', nft.id]"
  [ngClass]="[
    small ? 'container-inner-small' : 'container-inner-big',
    !nft.owner && (nft.status === 0 || !timeLeft) && !nft.resaleId ? 'grayscale' : ''
  ]"
>
  <div class="spinner">
    <mat-spinner
      *ngIf="nft.status !== SoldStatus.SOLD"
      mode="determinate"
      [value]="100 - endedPercent"
      [diameter]="small ? 59 : 81"
      strokeWidth="3"
      [color]="nft.status === SoldStatus.RESALE ? 'accent' : 'primary'"
    ></mat-spinner>
  </div>
  <div
    [ngClass]="[small ? 'nftname-small' : 'nftname-big']"
  >
    <span>{{ nft?.name }}</span>
  </div>
  <div
    [ngClass]="[
      nft?.owner ? 'owned' : nft?.ownerAddress ? 'ownedByOther' : 'available',
      small ? 'circle-small' : 'circle-big'
    ]"
  >
    <div class="svg-icon" [innerHTML]="nft.image"></div>
  </div>
  <div [ngClass]="[small ? 'label-wrapper-small' : 'label-wrapper-big']">
    <mat-chip
      disableRipple
      *ngIf="!(!nft.owner && (nft.status === 0 || !timeLeft))"
      [color]="nft.status === SoldStatus.RESALE ? 'accent' : 'primary'"
      selected
    >
      {{
        nft.bidInfo
          ? (nft.bidInfo.highestBid | weiToOne: 4)
          : (nft?.price | weiToOne: 4)
      }}
      ONE</mat-chip
    >
  </div>
</div>
