:host {
  width: 100%;
}
.main-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.second-section {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  place-content: flex-end;
  button {
    max-width: 120px;
  }
}
mat-list-option {
  border-bottom: rgb(92, 92, 92) 1px solid;
  display: flex;
  flex-direction: row;
}
::ng-deep .mat-list-base .mat-list-item .mat-list-text,
.mat-list-base .mat-list-option .mat-list-text {
  flex-direction: row !important;
  display: flex;
  align-items: center;
}
::ng-deep .mat-list-base {
  padding-top: 0 !important;
}
::ng-deep .mat-fab {
  width: 66px;
  height: 66px;
}

::ng-deep .mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: 100%;
}
::ng-deep .mat-list-base .mat-list-item .mat-list-item-content-reverse,
.mat-list-base .mat-list-option .mat-list-item-content-reverse {
  padding: 16px !important;
}
.nft-image {
  width: 26%;
  height: 100%;
  display: flex;
  align-items: center;
  place-content: center;
  // margin-left: 2px !important;
}
.nft-svg {
  // border-radius: 50%;
  // box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.4);

  svg {
    width: 100% !important;
    height: 100% !important;
  }
}
.name {
  padding-left: 7px;
  margin-bottom: 16px;
  span {
    font-size: 16px;
  }
}

.section-one {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item-description {
  width: 78%;
  display: flex;
  align-items: center;
  place-content: space-between;
}

.label {
  width: 100px;
  font-weight: 600;
  font-size: 12px;
  color: #d0a0e4;
}

.top-label {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 16px;
  span {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(221, 221, 221);
    padding-left: 16px;
    box-sizing: border-box;
  }
}
.progress-spinner {
  display: flex;
  align-items: center;
  place-content: center;
  flex-direction: column;
}
.time {
  display: flex;
  width: 100%;
  place-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 4px;
  span {
    font-size: 14px;
    margin-right: 4px;
  }
}

.primary {

    color: #9c27b0;
  
}

.accent {

    color: #6DB08F;

}
::ng-deep .mat-progress-bar.mat-accent .mat-progress-bar-buffer {
  background-color: black!important;
}
.blinking {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}