<div class="progress" *ngIf="timeLeft">
  <mat-progress-bar mode="determinate" [value]="endedPercent"></mat-progress-bar>

  <div class="time">
    <span>Time left:</span>
    <span> {{ Math.floor(timeLeft.getTime() / (1000 * 60 * 60 * 24)) }} days </span>
    <span> {{ timeLeft.getUTCHours()}}h : {{ timeLeft | date: "mm" }}m : {{ timeLeft | date: "ss"}}s</span>
  </div>
</div>


<div class="main-container">
  <div class="nft-image">
    <button
      mat-fab
      class="nft-svg"
      preserveAspectRatio="none"
      viewBox="0 0 300 300"
      [innerHTML]="nft?.image"
    ></button>
  </div>
  <div class="item-description">
    <div class="section-one">
      <div class="name">
        <span>
          {{ nft?.name }}
        </span>
      </div>
      <mat-chip-list aria-label="labels" >
        <mat-chip disableRipple color="primary" selected>
          {{ bidsViewModel?.highestBid ? (bidsViewModel?.highestBid | weiToOne: 4) : nft?.price | weiToOne: 4 }} ONE</mat-chip
        >
        <mat-chip disableRipple *ngIf="nft.owner" color="accent" selected
          >Owned</mat-chip
        >
        <mat-chip
          color="accent"
          *ngIf="!nft.owner && nft.status === 1 && !bidsViewModel?.latestBidIsOwn && timeLeft && !bidsViewModel?.outBidden"
          selected
          >On sale</mat-chip
        >

        <mat-chip
          *ngIf="bidsViewModel?.latestBidIsOwn"
          color="accent"
          selected
          >Highest Bid</mat-chip
        >
        <mat-chip
          *ngIf="bidsViewModel?.outBidden"
          color="warn"
          selected
          >Outbidden</mat-chip
        >
        <mat-chip
          *ngIf="!nft.owner && (nft.status === 0 || !timeLeft)"
          color="primary"
          selectable
          >Sold</mat-chip
        >
        <!-- <mat-chip color="accent" selected>Accent fish</mat-chip> -->
      </mat-chip-list>
    </div>
    <!-- <div class="list-item section">
      <span class="label">Location</span>
      <div class="details">
        <span>
          {{ nft?.location }}
        </span>
      </div>
    </div> -->
    <!-- <div class="list-item section">
      <span class="label">Price</span>
      <div class="details">
        <span> {{ nft?.price | weiToOne }} ONE </span>
      </div>
    </div> -->
    <div class="second-section">
      <div class="progress-spinner"></div>
      <!-- TODO: replace to mat-chip -->

      <!-- <span class="label">{{
          nft?.status === 1 ? "AVAILABLE" : nft.owner ? "OWNED" : "SOLD"
        }}</span> -->

      <button
        *ngIf="nft?.status === 1 && !bidsViewModel?.latestBidIsOwn && timeLeft"
        disableRipple
        mat-raised-button
        color="primary"
      >
      <mat-icon>shopping_basket</mat-icon>
        Bid
      </button>
      <button *ngIf="nft?.owner" disableRipple mat-raised-button color="warn">
        Sell
      </button>
    </div>
  </div>
</div>
