:host {
    width: 100%;
}
.price-ticker {
    display: flex;
    place-items: center;
    width: 100%;
}
.middle {
    width: 168px;
    border: none;
    overflow: hidden;
}

.toggle {
    width: 40px;
    background-color: #6F1C92;
    border: none;
    font-weight: bold;
    outline: none;
}
.minus {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.plus {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  
}
::ng-deep .mat-button-toggle-group {
    border: none;
}