<div class="container">
  <div class="top-wrapper">
    <div class="top-label">
      <span> Create NFT</span>
    </div>
    <div class="close-wrapper">
      <button mat-icon-button [routerLink]="['/', 'all-nfts']">
        <mat-icon color="primary">close</mat-icon>
      </button>
    </div>
  </div>
  <!-- TODO: create nft form -->
  <form (ngSubmit)="submit()" class="create-nft form">
    
    <div class="form-field">
      <label>Name</label>
      <div class="control-wrapper">
        <app-input></app-input>
      </div>
    </div>
    <div class="form-field">
      <label>Location</label>
      <div class="control-wrapper">
        <app-input></app-input>
      </div>
    </div>
    <div class="form-field">
      <label>SVG File</label>
      <div class="control-wrapper">
        <app-input></app-input>
      </div>
    </div>
    <div class="form-field">
      <label>Expiration date</label>
      <div class="date-picker">
        <app-date-picker
        ></app-date-picker>
      </div>
    </div>
    <div class="submit-button">
      <app-loading-button color="accent" type="submit" [loading]="creating">
        <mat-icon>save</mat-icon>
        <span class="button-label"> Create </span>
      </app-loading-button>
    </div>
  </form>
</div>
