<div class="container">
    <div class="top-wrapper">
        <div class="top-label">
            <span>Create NFT</span>
        </div>
        <div class="close-wrapper">
            <button
                mat-icon-button
                [routerLink]="['/', 'all-nfts']"
            >
                <mat-icon color="primary">close</mat-icon>
            </button>
        </div>
    </div>
    <!-- TODO: create nft form -->
    <form
        (ngSubmit)="submit()"
        [formGroup]="createNftForm"
        class="create-nft form"
    >
        <app-form-field label="Name">
            <app-input formControlName="name"></app-input>
        </app-form-field>
        <app-form-field label="Location">
            <app-input formControlName="location"></app-input>
        </app-form-field>
        <app-form-field label="SVG">
            <app-textarea formControlName="svg"></app-textarea>
        </app-form-field>
        <app-form-field label="Price">
            <app-price-picker [minPrice]="0.1" (priceChanged)="priceChanged($event)"></app-price-picker>
        </app-form-field>
        <app-form-field label="Expiration date">
            <app-date-picker (dateSelected)="dateChanged($event)"></app-date-picker>
        </app-form-field>

        <div class="submit-button">
            <app-loading-button
                color="accent"
                type="submit"
                [loading]="creating"
            >
                <mat-icon>save</mat-icon>
                <span class="button-label">Create</span>
            </app-loading-button>
        </div>
    </form>
</div>
