<div class="date-picker">
  <div class="date-time-picker">
    <mat-calendar
      (selectedChange)="onDateSelected($event)"
      *ngIf="calendarOpened"
    ></mat-calendar>
    <ngx-mat-timepicker
      ngDefaultControl
      [hidden]="!calendarOpened"
      [showSpinners]="true"
      [showSeconds]="false"
      [(ngModel)]="currentTime"
      (ngModelChange)="timeChanged($event)"
    >
    </ngx-mat-timepicker>
  </div>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle
      class="middle"
      (click)="calendarOpened = !calendarOpened"
      value="italic"
      >{{ selectedDate || currentDate | date }}</mat-button-toggle
    >
    <mat-button-toggle
      class="toggle"
      (click)="calendarOpened = !calendarOpened"
      color="primary"
      value="bold"
      ><mat-icon>calendar_today</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
