::ng-deep .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
.mat-button-toggle-group-appearance-standard {
  border-radius: 25px;
}
::ng-deep .mat-calendar {
  display: block;
  position: absolute;
  width: 58%;
  background-color: black;
  opacity: 0.93;
  border-radius: 25px;
  right: 70px;
  bottom: 4px;
}
:host {
  width: 100%;
}
.date-time-picker {
  display: flex;
  place-items: center;
  width: 100%;
  position: absolute;
  bottom: 50px;
}
.middle {
  width: 208px;
  border: none;
  overflow: hidden;
}

.toggle {
  width: 40px;
  background-color: #6f1c92;
  border: none;
  font-weight: bold;
  outline: none;
}
.minus {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.plus {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
::ng-deep .mat-button-toggle-group {
  border: none;
}
.time-picker {
  height: 50px;
}
.date-picker {
  position: relative;
  display: flex;
  place-items: center;
  width: 100%;
  place-content: flex-end;
}
::ng-deep .ngx-mat-timepicker {
  position: absolute;
  right: 0;
  background-color: black;
  opacity: 0.93;
  border-radius: 25px;

  bottom: 4px;
}
::ng-deep .ngx-mat-timepicker form {
  min-width: 62px !important;
}
