:host {
  position: absolute;
  bottom: 0;
  height: 35%;
  background-color: #212121;
  opacity: 0.9;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  display: flex;
  flex-direction: column;
  place-content: space-between;
  padding-bottom: 32px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 600px) {
  :host {
    width: 100%;
  }
}
@media only screen and (min-width: 601px) {
  :host {
    width: 40%;
  }
}
.close-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: flex-end;
  button {
    margin: 16px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: space-between;
}
.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center;
  span {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
  }
}
.bottom-icon {
  display: flex;
  align-items: center;
  place-content: center;

}
.success-icon {
  display: flex;
  align-items: center;
  place-content: center;
  font-size: 80px;
  width: 110px;
  height: 110px;
  color: green;
}
.error-icon {
  display: flex;
  align-items: center;
  place-content: center;
  font-size: 80px;
  width: 110px;
  height: 110px;
  color: red;
}
.inner-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  height: 100%;
}
