:host {
  position: absolute;
  bottom: 0;
  height: 40%;
  background-color: #212121;
  opacity: 0.9;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  display: flex;
  flex-direction: column;
  place-content: space-between;
  padding-bottom: 32px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 600px) {
  :host {
    width: 100%;
  }
}
@media only screen and (min-width: 601px) {
  :host {
    width: 60%;
  }
}
