<div class="main-container">
    <div class="top-wrapper">
      <div class="top-label">
        <span> You won following auctions </span>
      </div>
      <div class="close-wrapper">
       
      </div>
    </div>
    <!-- TODO: NFT Grid -->
    
    <div class="grid-list">
      <app-nft-grid [nfts]="nftsToRetrieve"></app-nft-grid>
    </div>

  
    <div
      class="retrieve-button"
    >
      <app-loading-button (click)="retrieve()" [loading]="retrieving">
        <!-- <mat-icon>shopping_basket</mat-icon> -->
        <span class="button-label"> Retrieve </span>
      </app-loading-button>
    </div>

  </div>
  