:host {
  position: absolute;
  top: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  place-content: space-between;
  align-items: center;
}
.sidenav-open {
  padding-right: 16px;
}
.profile-panel {
  margin-left: 16px;
  z-index: 999;
  mat-icon {

  }
}
