<mgl-map
  [style]="'mapbox://styles/randymarsh2137/ckqnwzq4d14x718quh7ukm7t8'"
  [zoom]="[0]"
  [center]="[-74.5, 40]"
  (load)="onMapLoaded($event)"
>
  <mgl-marker
    *ngIf="mapStatus.showUser"
    [lngLat]="[mapStatus.userLocation.lng, mapStatus.userLocation.lat]"
    #markers
  >
    <svg height="100" width="100">
      <circle
        cx="50"
        cy="50"
        r="10"
        stroke="white"
        stroke-width="2"
        fill="#4E8EF7"
      />
    </svg>
  </mgl-marker>
  <mgl-marker
    *ngFor="let marker of mapStatus.markers"
    [lngLat]="marker.coordinates"
  >
    <!-- <div class="marker" style="height: 24px; width: 24px"> -->
      <div
        class="svg-icon"
        style="height: 24px; width: 24px"
        [innerHTML]="marker.image"
      ></div>
    <!-- </div> -->
  </mgl-marker>
</mgl-map>
