:host {
    outline: none;
}
::ng-deep .mat-button-toggle-group {
    border: none;
}
input {
    background-color: #424242;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.toggle {
    width: 40px;
    background-color: #6F1C92;
    border: none;
    font-weight: bold;
    outline: none;
}