:host {
    display: flex;
    flex-wrap: wrap;
    min-height: 35%;
    flex-direction: row;
    padding: 8px;
}
.circle {
    width: 75px;
    height: 75px;
    
}
.container {
  
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    box-sizing: border-box;
    align-items: center;
    place-content: flex-start;

}
.container-inner {
    display: flex;
    flex-direction: column;
    padding: 12px;
}
.label-wrapper {
    display: flex;
    align-items: center;
    place-content: center;
    margin-top: 4px;
    span {
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
}
