<mat-drawer-container class="example-container">
  <!-- Move to separate component -->
  <app-map-gl [userLocation]="userLocation" [markers]="markers"></app-map-gl>

  <router-outlet></router-outlet>

  <mat-drawer #drawer class="example-sidenav" mode="side"
   [opened]="uxService.sidenavOpened$ | async">
    <!-- Move to separate component -->
    <mat-toolbar color="secondary">
      <button
        (click)="openDialog()"
        class="wallet-button-wrapper"
        mat-raised-button
        color="primary"
        aria-label="Example icon-button with menu icon"
      >
        <button class="mini-fab" disableRipple mat-mini-fab color="secondary">
          <mat-icon>person</mat-icon>
        </button>

        <div class="wallet-button">
          <div class="start">
            6Tgdf6fDHDbh7GhBF7YGVGGHVGVgghjtfrfg77YFGBui78TFd4R4FE
          </div>
          <div class="end">dE2g</div>
        </div>
      </button>
    </mat-toolbar>
    <div class="sidenav-open fab-close">
      <button (click)="uxService.closeSidenav()" mat-icon-button>
        <mat-icon color="primary">close</mat-icon>
      </button>
    </div>
    <app-nft-list></app-nft-list>
  </mat-drawer>
</mat-drawer-container>
