<mat-drawer-container class="main-wrapper">
  <mat-drawer
    #drawer2
    mode="side"
    [opened]="leftSidenavOpened"
    [ngClass]="{
      'example-container-left': !isMobile,
      'example-container-mobile-left': isMobile
    }"
  >
    <app-wallet></app-wallet>
  </mat-drawer>

  <!-- Move to separate component -->
  <app-map-gl [userLocation]="userLocation" [markers]="markers"></app-map-gl>

  <router-outlet></router-outlet>

  <mat-drawer
    #drawer
    position="end"
    mode="side"
    [ngClass]="{
      'example-container': !isMobile,
      'example-container-mobile': isMobile
    }"
    [opened]="rightSidenavOpened"
  >
    <!-- Move to separate component -->

    <div class="sidenav-open fab-close" *ngIf="isMobile">
      <button (click)="uxService.closeSidenav()" mat-icon-button>
        <mat-icon color="primary">close</mat-icon>
      </button>
    </div>
    <app-nft-list></app-nft-list>
  </mat-drawer>
</mat-drawer-container>
<div class="curtain" [@slideInOut]="!curtain" >
  <app-courtain (connectToMetamask)="connectToMetamask()"></app-courtain>
</div>

