.sidenav-open {
  position: absolute;
  top: 8px;
  right: 16px;
}
.example-container {
  width: 30%;
  height: 100%;
}
.example-container-mobile {
  width: 100%;
  height: 100%;
}
.main-wrapper {
  width: 100%;
  height: 100%;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: 100%;
}
.wallet-button {
  margin: 10px;
  width: 74px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.start {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 1;
}
.end {
  white-space: nowrap;
  flex-basis: content;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: -4px;
  font-weight: 600;
}
.wallet-button-wrapper {
  border-radius: 24px;
  ::ng-deep .mat-button-wrapper {
    display: flex;
    align-items: center;
    place-content: center;
    max-height: 40px;
  }
  ::ng-deep .mat-mini-fab .mat-button-wrapper {
    width: 30px;
    height: 30px;
    min-height: 30px;
    padding: 0;
    line-height: 30px;
  }
  mat-icon {
    width: 20px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
  }
}
.mini-fab {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
}
