:host {
  position: relative;
}
.example-container {
  width: 25%;
  height: 100%;
}
.example-container-mobile {
  width: 100%;
  height: 100%;
}
.example-container-left {
  width: 21%;
  height: 100%;
}
.example-container-mobile-left {
  width: 100%;
  height: 100%;
}
.main-wrapper {
  width: 100%;
  height: 100%;
}
.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  width: 100%;
}

.start {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 1;
}
.end {
  white-space: nowrap;
  flex-basis: content;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: -4px;
  font-weight: 600;
}

.curtain {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.toolbar-label {
  display: flex;
  place-items: center;
  justify-items: end;
  height: 100%;
  .toolbar-span {
    letter-spacing: 1px;
    font-size: 16px;
    color: grey;
    font-family: 'Kanit', sans-serif;
  }
}
