:host {
  cursor: pointer;
  @-webkit-keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    60% {
      -webkit-transform: translateY(-12px);
      transform: translateY(-12px);
    }
  }
  
  @keyframes bounce {
    0%,
    25%,
    50%,
    75%,
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px);
    }
    60% {
      -webkit-transform: translateY(-12px);
      transform: translateY(-12px);
    }
  }
  @-webkit-keyframes rotateY {
    to {
      -webkit-transform: rotateY(360deg);
    }
  }
  @keyframes rotateY {
    to {
      transform: rotateY(360deg);
    }
  }
  
  .rotate {
    -webkit-animation: rotateY 1.5s infinite linear;
    animation: rotateY 1.5s infinite linear;
  }
  .bounce {
    -webkit-animation: bounce 2s;
    animation: bounce 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  
  .circle {

    border-radius: 50%;
    border-width: 40px;
    display: flex;
    place-content: center;
    align-content: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    &.owned {
      
    background-color: green;
    }
    &.ownedByOther {
      
    background-color: grey;
    }
    &.available {
    background-color: transparent;
    }
  }
}
