<div
  (click)="openNft()"
  [ngStyle]="{
    height: focused ? '72px' : '48px',
    width: focused ? '72px' : '48px'
  }"
  [ngClass]="
    nft.owner ? 'owned' : nft.ownerAddress ? 'ownedByOther' : 'available'
  "
  class="circle"
>
  <div
    class="svg-icon"
    [ngStyle]="{
      height: focused ? '52px' : '32px',
      width: focused ? '52px' : '32px'
    }"
    [ngClass]="{
      bounce: nft.status === SoldStatus.AVAILABLE && !focused,
      rotate: focused && !nft.owner
    }"
    [innerHTML]="nft.image"
  ></div>
</div>
<span
class="label"
  [ngClass]="
    nft.owner ? 'owned' : nft.ownerAddress ? 'ownedByOther' : 'available'
  "
  >{{ nft?.price | weiToOne: 4 }} ONE</span
>
