.wallet-button {
  margin: 10px;
  width: 74px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.wallet-button-wrapper {
  border-radius: 24px;
  padding-left: 16px;
  ::ng-deep .mat-button-wrapper {
    display: flex;
    align-items: center;
    place-content: center;
    max-height: 40px;
  }
  ::ng-deep .mat-mini-fab .mat-button-wrapper {
    width: 30px;
    height: 30px;
    min-height: 30px;
    padding: 0;
    line-height: 30px;
  }
}
::ng-deep .mat-toolbar-row,
.mat-toolbar-single-row {
  place-content: space-between;
}
.sidenav-open {
  position: absolute;
  top: 8px;
  right: 16px;
}
.logo-nft {
  span {
    letter-spacing: 1px;
    color: #62c1a9;
    font-size: 24px;
    font-family: "Krona One";
  }
}
.info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 48%;
  padding-top: 8px;
}
.address {
  display: flex;
  place-content: center;
  align-items: center;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}
.info-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  place-content: center;
  span {
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 1px;
  }
}
.big-avatar {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  place-content: center;
  margin-bottom: 24px;
  mat-icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
  }
}
.amount {
  padding-right: 5px;
}
.mini-fab {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  display: flex;
  align-items: center;
  place-content: center;
  mat-icon {
    width: 16px;
    height: 16px;
    font-size: 16px;
  }
}
::ng-deep .mat-tab-group {
  height: calc(100% - 64px);
}
::ng-deep .mat-tab-body-wrapper {
  height: 100%;
}
.address-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  place-items: center;
  margin-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.wallet-label {
  display: flex;
  width: 100%;
  align-items: center;
  padding-right: 16px;
  place-content: flex-end;
  box-sizing: border-box;
  span {
    font-size: 24px;
    color: grey;
    letter-spacing: 1px;
    font-family: "Krona One";
  }
}
.divider {
  height: 1px;
  width: 100%;
  background-color: grey;
  opacity: 0.2;
}
.divider-2 {
  height: 1px;
  width: 100%;
  background-color: grey;
  opacity: 0.2;
  margin-bottom: 8px;
}
.description-wallet {
  height: 100%;
  display: flex;
  align-items: center;
  place-content: center;
  flex-direction: column;
  button {
    margin-top: 48px;
    width: 128px;
    height: 44px;
  }
}
.collection-label {
  margin-top: 8px;
  margin-bottom: 8px;
}