<mat-toolbar color="secondary">
  <div class="logo-nft">
    <span> GeoNFT </span>
    <div class="sidenav-open fab-close" *ngIf="isMobile">
      <button (click)="uxService.closeLeftSidenav()" mat-icon-button>
        <mat-icon color="primary">close</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Collection">
    <app-nft-list [nfts]="ownedNFTs$ | async"></app-nft-list>
  </mat-tab>
  <mat-tab label="Wallet">
    <div class="info-wrapper">
      <div class="address-bar">
      <button
        class="wallet-button-wrapper"
        mat-raised-button
        color="primary"
        aria-label="wallet address"
      >
        <button
          class="mini-fab"
          disableRipple
          mat-mini-fab
          color="secondary"
          (click)="uxService.openLeftSidenav()"
        >
          <mat-icon>person</mat-icon>
        </button>
        <div class="wallet-button">
          <div class="start">
            {{ (contractService.walletInfo$ | async)?.address | shortAddress }}
          </div>
        </div>
      </button>
      <mat-slide-toggle
        color="primary"
        (ngModelChange)="toggleSales()"
        [(ngModel)]="enableSales"
        >Sales enabled</mat-slide-toggle
      >
    </div>
      <div>
        <span> ~ {{ convertedBalance }} $ </span>
      </div>
      <div class="info-inner">
        <span class="amount"> {{ walletInfo?.balance.substring(0, 12) }} </span>

        <span> ONE </span>
      </div>
      <button mat-raised-button color="primary">Logout</button>
    </div>
  </mat-tab>
</mat-tab-group>
