<mat-selection-list [multiple]="false">
  <mat-list-option
    *ngFor="let nft of nfts; let i = index"
    (click)="confirmOrder(i)"
  >
    <!-- <div class="nft-image">
      <button
        mat-fab
        class="nft-svg"
        preserveAspectRatio="none"
        viewBox="0 0 300 300"
        [innerHTML]="nft?.image"
      ></button>
    </div> -->
    <app-nft-list-item [nftId]="nft.id"></app-nft-list-item>    
  </mat-list-option>
  <div class="no-results">
    <p *ngIf="nfts?.length === 0">No available NFT's :(</p>
  </div>
</mat-selection-list>
