$breakpoint-mobile: 640px;
$breakpoint-tablet: 641px;
$fontset: Nunito Sans;
$font-unactive-color: #DCDFDA;
$font-hover-color: white;
$font-default-color: #F3F0DE;
$font-button-tansparent: #99A195;
$black-87-opacity: rgba(black, 0.87);
// @deprecated renamed to $light-primary-text.
// @breaking-change 8.0.0
$white-87-opacity: rgba(white, 0.87);
// @deprecated use $dark-[secondary-text,disabled-text,dividers,focused] instead.
// @breaking-change 8.0.0
$black-12-opacity: rgba(black, 0.12);
// @deprecated use $light-[secondary-text,disabled-text,dividers,focused] instead.
// @breaking-change 8.0.0
$white-12-opacity: rgba(white, 0.12);
// @deprecated use $dark-[secondary-text,disabled-text,dividers,focused] instead.
// @breaking-change 8.0.0
$black-6-opacity: rgba(black, 0.06);
// @deprecated use $light-[secondary-text,disabled-text,dividers,focused] instead.
// @breaking-change 8.0.0
$white-6-opacity: rgba(white, 0.06);

$basic-black: black;
$basic-white: white;
$basic-transparent: transparent;

$galaxy-purple-palette: (
  900: #0e0416,
  800: #0e0416,
  700: #0e0416,
  600: #140a1d,
  500: #21162c,
  400: #443750,
  300: #817291,
  200: #a897b4,
  100: #e7dfef,
  50: #f6effd,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: #140A1D,
    100: #140A1D,
    200: #140A1D,
    300: #140A1D,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);
$vanilla-palette: (
  A100: #ffffff,
  A200: #fff7f4,
  A400: #fc8259,
  A700: #f44205,
  900: #ea8918,
  800: #ffb547,
  700: #f8c77f,
  600: #ffd79b,
  500: #ffe6c0,
  400: #fcf6db,
  300: #fffae4,
  200: #fffcef,
  100: #fffdf4,
  50: #fffef9,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: #140A1D,
    600: #140A1D,
    700: #140A1D,
    800: #140A1D,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: #140A1D,
  ),
);
$grayscale-palette: (
  900: #0B0B0B,
  800: #1F1F1F,
  700: #3A3A3A,
  600: #5A5A5A,
  500: #818181,
  400: #A8A8A8,
  300: #C6C6C6,
  200: #DFDFDF,
  100: #EFEFEF,
  50: #F4F4F4,
  A100: #F4F4F4,
  A200: #C6C6C6,
  A400: #5A5A5A,
  A700: #0B0B0B,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: #0B0B0B,
    A400: white,
    A700: white,
  ),
);
$alert-palette: (
  900: #650306,
  800: #650306,
  700: #650306,
  600: #9F1B1F,
  500: #9F1B1F,
  400: #9F1B1F,
  300: #EE3B40,
  200: #EE3B40,
  100: #EE3B40,
  50: #F9D3D4,
  A100: #F9D3D4,
  A200: #EE3B40,
  A400: #9F1B1F,
  A700: #650306,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  ),
);
$warning-palette: (
  900: #5F2709,
  800: #5F2709,
  700: #5F2709,
  600: #A64F21,
  500: #A64F21,
  400: #A64F21,
  300: #F97937,
  200: #F97937,
  100: #FFE1BE,
  50: #FFE1BE,
  A100: #FFE1BE,
  A200: #F97937,
  A400: #A64F21,
  A700: #5F2709,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  ),
);
$success-palette: (
  900: #013523,
  800: #013523,
  700: #013523,
  600: #086343,
  500: #086343,
  400: #079F6A,
  300: #079F6A,
  200: #079F6A,
  100: #D6F3E2,
  50: #D6F3E2,
  A100: #D6F3E2,
  A200: #079F6A,
  A400: #086343,
  A700: #013523,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  ),
);
$info-palette: (
  900: #011959,
  800: #011959,
  700: #2648A4,
  600: #2648A4,
  500: #2648A4,
  400: #3D6EF5,
  300: #3D6EF5,
  200: #91ADFA,
  100: #91ADFA,
  50: #91ADFA,
  A100: #91ADFA,
  A200: #3D6EF5,
  A400: #2648A4,
  A700: #011959,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  ),
);
// TODO: jako contrast zdefiniuj tez np rgba
$mat-red: (
  900: #9f1b1f,
  800: #9f1b1f,
  700: #9f1b1f,
  600: #9f1b1f,
  500: #ee3b40,
  400: #ee3b40,
  300: #ee3b40,
  200: #f9d3d4,
  100: #f9d3d4,
  50: #f9d3d4,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: $white-87-opacity,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: white,
    A400: white,
    A700: white,
  ),
);
