/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto Condensed' !important }

.snackbar-error {
  width: 100%;
  height: 44px;
  font-weight: bold;
  background-color: rgb(163, 7, 7);
  color: rgb(241, 237, 237);
}
.centerize {
  display: flex;
  place-content: center;
  align-content: center;
  height: 100%;
  align-items: center;
}
