<div class="top-wrapper">
  <div class="top-label">
    <span>
      Buy NFT
    </span>
  </div>
  <div class="close-wrapper">
    <button mat-icon-button [routerLink]="['/', 'all-nfts']">
      <mat-icon color="primary">close</mat-icon>
    </button>
  </div>
</div>
<div class="divider-wrapper">
  <div class="divider"></div>
</div>


<div class="nft-name" *ngIf="nft">
  <button mat-fab
    viewBox="0 0 300 300"
    [innerHTML]="nft.image"
  ></button>

  <div class="description">
    <div class="nft-name">
      <span >{{ nft.name }}</span>
    </div>
    <div class="price">
      <span class="mat-h3">{{ nft.price | weiToOne }} ONE</span>
    </div>
  </div>
</div>
<div class="buy-button">
  <app-loading-button (click)="buyNFT()" [loading]="buying">
    <mat-icon>shopping_basket</mat-icon>
    <span class="button-label"> Buy </span>
  </app-loading-button>
</div>
